.info-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:20px 0;
}

.info-wrap .info-bar {
    position: relative;
    width: 90%;
    max-width: 1024px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    margin: 0 5%;
    margin: 2px 0;
    color: #333;
    font-size: 15px;
    transition: all 300ms ease;
}
.info-wrap .info-bar:hover{
    background-color: #f0f0f0;
}
.info-wrap .info-bar:hover .info{
    color: #e33;
}
.info-wrap .info-bar::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-radius: 3px;
    background-color: #57b0ea;
    content: '';
}

.info-wrap .info-bar:nth-child(2)::after {
    background-color: #7878eb;
}

.info-wrap .info-bar:nth-child(3)::after {
    background-color: #fe7c7c;
}

.info-wrap .info-bar:nth-child(4)::after {
    background-color: #5ccd5c;
}

.info-wrap .info-bar .info {
    color: #444;
    font-size: 16px;
    font-weight: 600;
}
