html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}
body.lock {
    overflow: hidden;
    touch-action: none;
}

canvas {
    width: 100%;
    height: 360px;
    background-color: #f0f0f0;
}

button {
    width: 90px;
    height: 35px;
    font-size: 16px;
    background: #E55C5C;
    color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: #999;
    margin: 5px 10px;
}

button:hover {
    background-color: #c05959;
}

.title {
    position: relative;
    width: 90%;
    max-width: 1024px;
    height: 40px;
    line-height: 40px;
    margin: 0 5%;
}

.title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 5px;
    border-radius: 100% 0%;
    background: -webkit-linear-gradient(left, #eee, #ccc, #eee);
}

.title .label {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.title .value {
    color: #d66;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.foot-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 80px;
    background-color: #333;
    color: #eee;
    font-style: italic;
    font-size: 12px;
}

.foot-wrap .qr-wrap{
    position: absolute;
    left:0;
    top:-200px;
    width: 100%;
    height:200px;
    background-color: #fff;
    transform: scale(1, 0);
    transform-origin: 50% 100%;
    transition: all 300ms ease;
    text-align: center;
}

.foot-wrap .qr-wrap .qr-img{
    height: 100%;
}

.foot-wrap.show-qr .qr-wrap{
    transform: scale(1, 1);
}

.foot-wrap a:hover {
    background-color: #2c2c2c;
}

.foot-wrap .author {
    letter-spacing: 1px;
}

.foot-wrap a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.foot-wrap a:hover {
    background-color: #2c2c2c;
}

.foot-wrap .logo {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.foot-wrap .logo.weibo {
    background-image: url('./img/weibo.png');
    background-position: 2px 2px;
    background-size: 26px 26px;
}

.foot-wrap .logo.codepen {
    background-image: url('./img/codepen.png');
    background-position: 6px 6px;
    background-size: 18px 18px;
}

.foot-wrap .logo.github {
    background-image: url('./img/github.png');
    background-position: 5px 5px;
    background-size: 20px 20px;
}

.foot-wrap .logo.scan {
    background-image: url('./img/scan.png');
    background-position: 5px 5px;
    background-size: 20px 20px;
}

.save-wrap .save {
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    opacity: 0;
    color: #444;
    border: 1px solid #999;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 12px;
    font-weight: 600;
    transition: all 500ms ease;
    transform: translateX(100%);
    cursor: pointer;
}

.save-wrap.show .save {
    opacity: 1;
    transform: translateX(0%);
}

.save-wrap .save:hover {
    color: #fff;
    background-color: #444;
}